/* See https://github.com/microsoft/vscode/blob/cf4bc01bfb3fc9826670e46cb88cca107ee064fc/build/lib/stylelint/vscode-known-variables.json#L771
for variable reference */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

h1 {
  text-align: center;
}

/* Poor man CSS debugger*/
div {
  border: 0px solid #ccc;
}

div .progress-bar {
  background-color: var(--vscode-progressBar-background);
  height: 100%;
  border-radius: 5px;
  transition: width 0.2s ease-in-out;
}

.form-group {
  margin: 15px;
  width: 100%;
    vertical-align: middle;
}

.form-group label {
  padding-left: 5px;
  padding-right: 5px;
}

button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border: none;
  padding: 8px 16px;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 2px;
}

button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

/* Styling for disabled buttons */
button:disabled {
  background-color: var(--vscode-button-secondaryBackground);
  color: var(--vscode-button-secondaryForeground);
  cursor: not-allowed; /* Change cursor to 'not-allowed' */
  opacity: 0.6; /* Reduce opacity for a disabled look */
}
.progress-status {
  font-style: italic;
  margin-bottom: 8px;
  display: inline-block;
}

.final-setup-group {
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 15px;
}